{% extends "base.html" %}
{% block content %}

<style>
  .container {
      width: 100%;
      max-width: 700px;
      padding: 20px;
      height: 100vh;
  }

  .mx-auto {
      border-radius: 8px;
      box-shadow: 0 4px 12px #003366; 
      padding: 30px;
      width: 100%;
  }

  h2 {
      text-align: center;
      padding: 20px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }
  </style>

<div class="container mt-5">
  <div class="mx-auto">
  <h2>Password Reset Complete</h2>
  <p>Your password has been set. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
  </div>
</div>
{% endblock %}
