{% extends 'base.html' %}
{% block content %}
<style>

    .container {
        width: 100%;
        max-width: 700px;
        padding: 20px;
        height: 100vh;
    }

    .mx-auto {
        border-radius: 8px;
        box-shadow: 0 4px 12px #003366; 
        padding: 30px;
        width: 100%;
    }

    .btn-primary {
        border-radius: 4px;
        padding: 10px 20px;
    }

    h2 {
        text-align: center;
        padding: 20px;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    input[type="email"],
    input[type="password"] {
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        
    }

    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #000000;
        outline: none;
    }

    label {
        margin-top: 10px;
        font-weight: bold;
        color: black; 
        font-size: 18px;
    }

    .text-danger{
        margin-top: 5px;
        margin-bottom: 5px;
        color: black;
        border: solid 0.5px;
        border-radius: 4px;
        background: #ffb09c; 
        padding-left: 4px;
    }

</style>

<div class="container">
<div class="mx-auto">
    <h2>Register</h2>
    {% if messages %}
        <div class="text-danger">
            {% for mssg in messages %}
                {{ mssg }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" id="registrationForm">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success w-100" id="registerButton">Sign Up</button>
    </form>

    <p> Already have an account?  <a href="{% url 'login' %}"> Login </a> </p>
</div>

<!-- Password Script Validate -->
<script>
document.addEventListener("DOMContentLoaded", function(){
    const form = document.getElementById('registrationForm');
    const submitButton = document.getElementById('registerButton');
    const emailField = form.querySelector('input[name="email"]');
    const password1Field = form.querySelector('input[name="password1"]');
    const password2Field = form.querySelector('input[name="password2"]');
    
    function validateForm(){
        if(emailField.value && password1Field.value && password2Field.value && (password1Field.value === password2Field.value)){
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    }
    
    form.addEventListener('input', validateForm);
    submitButton.disabled = true;
});
</script>
</div>

{% endblock %}