{% extends 'base.html' %}
{% block content %}
<style>

  .container {
      width: 100%;
      max-width: 700px;
      padding: 20px;
  }

  .mx-auto {
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
      padding: 30px;
      width: 100%;
  }

  h2 {
      text-align: center;
      padding: 20px;
  }
</style>
<div class="mx-auto">
<div class="container mt-5">
  <h2>Teams</h2>
  <p>Under construction. Big WIP. Future team details will go here. (This page may no longer be needed later, note to self to remove)</p>
</div>
</div>
{% endblock %}
