{% extends 'base.html' %}
{% block content %}
<style>

  .container {
    height: 100vh;
  }

  .mx-auto {
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
      padding: 30px;
      width: 100%;
  }

  h2 {
      text-align: center;
      padding: 20px;
  }
</style>
<div class="container mt-5">
  <div class="mx-auto">
  <h2>Teams</h2>
  {% if teams %}
    <ul class="list-group">
      {% for team in teams %}
        <li class="list-group-item">
          <a href="{% url 'team_details' team.id %}">{{ team.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No teams available.</p>
  {% endif %}
  <a href="{% url 'create_team' %}" class="btn btn-primary mt-3">Create New Team</a>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
